<%= simple_form_for [@user, @question], html: { data: { turbo: false } } do |f| %>
  <%= f.text_area :content, id: "question_content", name: "question[content]", required: true %>
  <%= f.hidden_field :asked_to_id, value: @user.id %>
  <div class="submit-question">
    <%= f.input :anonymous,as: :boolean %>
    <%= f.button :submit, 'Submit', class: 'submit-btn' %>
  </div>
<% end %>
