<div class="container-user">
  <div class="header-user">
    <h3><i class="fa-solid fa-users" style="color:green; font-size: 45px;"></i></h3>
  </div>
  <div class="card-user-container">
    <% @users.each do |user| %>
      <div class="card-user">
        <% if user.photo.attached? %>
          <%= cl_image_tag user.photo.key, height: 100, width: 100, crop: :fill %>
        <% else %>
          <%= image_tag image_path("user.png"), height: 100, width: 100, crop: :fill %>
        <% end %>
        <p>@<%= link_to user.username, user_path(user) %></p>
      </div>
    <% end %>
  </div>
</div>
<div class="main-index-container">
  <% @users.each do |user|%>
    <% user.answers.order(created_at: :desc).each do |answer| %>
      <div class="question-container">
        <div class="index-pic">
          <% if user.photo.attached? %>
            <%= cl_image_tag user.photo.key, height: 100, width: 100, crop: :fill%>
          <% else %>
            <%= image_tag image_path("user.png"), height: 100, width: 100, crop: :fill %>
          <% end %>
          <p>@<%= link_to user.username, user_path(user) %></p>
        </div>
        <div class="index-text">
          <div class="header-index-text">
            <h2>
              Q: <%= answer.question.content %>
            </h2>
            <p class="time"><em><%= answer.created_at.strftime("%e %b %Y %H:%M:%S%p") %></em></p>
          </div>
          <p>
            <%= answer.content %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
