<div class="show-container">
  <div class="profile">
    <div class="index-pic-show">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, height: 100, width: 100, crop: :fill %>
      <% else %>
        <%= image_tag image_path("user.png"), height: 100, width: 100, crop: :fill %>
      <% end %>
      <div class="details-containter" style="margin-left: 20px;">
        <h3><%= @user.first_name %> <%= @user.last_name %></h3>
        <h4><%= @user.username %></h4>
        <!-- Button trigger modal -->
        <% if @user == current_user %>
          <button type="button" class="edit-profile-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Edit Profile
          </button>
        <% end %>
        <!-- Modal -->
        <%= simple_form_for @user, html: { data: { turbo: false } } do |f| %>
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Edit Profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <%= f.input :first_name, input_html: { class: "user-form" } %>
                  <%= f.input :last_name, input_html: { class: "user-form" } %>
                  <%= f.input :username, input_html: { class: "user-form" } %>
                  <%= f.input :photo, as: :file %>
                </div>
                <div class="modal-footer">
                  <%= f.submit "Save", class: "modal-button" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%# separator %>
  <div class="question-box">
    <h3>Ask Me a Question</h3>
    <%= render 'questions/form', question: Question.new %>
  </div>
  <%# separator %>
  <div class="answer-box">
    <div class="answer-title">
      <h3>Answers</h3>
    </div>
    <% @user.answers.each do |answer| %>
      <div class="answer-card">
        <div class="answer-content-container">
          <div class="question-header">
            <h5><%= answer.question.content %></h5>
            <div class="question-content">
              <% if answer.question.user.photo.attached? %>
                <%= cl_image_tag answer.question.user.photo.key, height: 25, width: 25, crop: :fill %>
              <% else %>
                <%= image_tag image_path("user.png"), height: 25, width: 25, crop: :fill %>
              <% end %>
              <p><%= link_to answer.question.user.username, user_path(answer.question.user)%></p>
            </div>
          </div>
          <p><%= answer.content %></p>
        </div>
      </div>
    <% end %>
  </div>
