<div class="container">
  <%= image_tag('home.png', class:"home-pic") %>
  <div class="description">
    <p>Explore AskFizzーThe versatile platform offering you the choice to share openly or ask questions anonymously.
      Dive into authentic conversations, connecting with a community that embraces both visibility and mystery.</p>
    <% if user_signed_in? %>
      <h3>Welcome, <%= current_user.username %>!</h3>
    <% else %>
      <button id="signin-button">
        <%= link_to "Sign-in", new_user_session_path %>
      </button>
    <% end %>
  </div>
</div>
<div class="card-container">
  <%= image_tag "laptop.png", style: "height: 260px;" %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ask Anonymously</h5>
      <h6 class="card-subtitle mb-2 text-muted"><i class="fa-regular fa-user"></i> <i class="fa-regular fa-user"></i> <i class="fa-regular fa-user"></i></h6>
      <p class="card-text">Discover the power of hidden curiosity on AskFizz! Ask Anonymously and transform your questions into whispered wonders. Delve into a world where secrets are safe,
        and curiosity knows no boundaries. Your identity, your questions – a mysterious symphony on the canvas of exploration. </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Stay Curious, Stay in Touch</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <i class="fa-solid fa-magnifying-glass"></i></h6>
      <p class="card-text">AskFizz, staying curious is not just a choice; it's a celebration of the human spirit. Stay Curious, Stay in Touch,
        and let your questions become threads that weave the fabric of human connection. In this warm community,
        every question is an invitation to understand, connect, and embrace the shared journey of curiosity. </p>
    </div>
  </div>
  <%= image_tag "laptop.png", style: "height: 260px;" %>
</div>
<%= render "shared/footer" %>
